
body{
/*background:#ffffff !important;*/
}
text-area, select {
    height: 20px;
    line-height: 20px;
    margin-bottom: 5px;
}

input{
  line-height: 20px;
    margin-bottom: 5px;  
}

legend{
    color:#000000;
}

form#open-jobs-form fieldset {
    /*height:200px;*/
}
 input[type="text"], select, .SearchPanel FORM INPUT[type=text] {
        height: 20px;
        line-height: 20px;
        padding:2px;
        }
        form select{
            padding:0px;
            /* height: 25px; */
            height: auto;
            line-height: 25px;
        }     
        
        textarea, input:not([type="submit"]):not([type="button"]):not([type="checkbox"]):not([type="radio"]):not([type="file"]):not([type="range"]){
    height:20px;
    vertical-align: middle;
    padding:2px;
        }
        
 input.text:focus, input.title:focus{
        height: 20px;
        line-height: 20px;
        padding:2px;
}
form fieldset p{
    margin-bottom: 5px;
}
input .textSubmitButton{
    height:30px;
}

form input.textSubmitButton{
    display: inline;
    position:relative;
    zoom: 1;
    height:30px;
}